# Vercel
.vercel

# Dependencies
node_modules/
**/node_modules/

# Env & secrets (NEVER commit real keys)
.env
.env.local
.env.*.local
**/.env

# Build output
dist/
**/dist/

# Logs & OS
*.log
.DS_Store

# Office lock files
.~lock.*#

.env*

# MS Office lock files
~$*
